*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: rgba(241, 249, 251, 0.896);

}
.table{
    margin: auto;
    margin-top: 20px;
    background-color:transperent;
    padding: 10px;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    border: 2px solid lightseagreen;
}
button{
    /* padding: 0px; */
    margin: 5px;
    background-color: lightseagreen;
    color: white;
    border: none;
    outline: none;
    font-weight: 600;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;   
}
.button{
    /* padding: 0px; */
    margin: 5px;
    background-color: lightseagreen;
    color: white;
    border: none;
    outline: none;
    font-weight: 600;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;   
}
input{
    height: 65px;
    width: 400px;
    margin: 5px;
    border: 2px solid lightseagreen;
    outline: none;
    border-radius: 10px;
    font-size: 30px;
    color:lightseagreen; 
    display: flex;
    cursor: pointer;
    text-align: right; 
    
}

.operator-button{
    background-color:rgba(250, 186, 69, 0.748);
    margin: 5px;
    color: white;
    border: none;
    outline: none;
    font-weight: 600;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.operator-button:hover{
    background-color: transparent;
    border: 2px solid rgba(241, 180, 66, 0.781);
    color:rgba(255, 166, 0, 0.468) ;
    transition: ease-out .50s;  
}
.button:hover{
    background-color: transparent;
    border: 2px solid lightseagreen;
    color:lightseagreen ;
    transition: ease-out .50s;

}
.txt{
    color: lightseagreen;
    text-align: center;
    margin-top: 80px;
    letter-spacing:10px;
}
.txt:hover{
    color: rgba(250, 186, 69, 0.748);
    text-align: center;
    margin-top: 80px;
    letter-spacing:10px;
    cursor: pointer;
    transition: ease-out .80s;
}
